body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.content {
  padding: 0 20px;
}

.menu {
  display: block;
  width: 100%;
  border-top: 10px solid #005ea5;
}

.menu-content {
  display: block;
  width: 100%;
  height: 20px;
  border-left: 1px solid #005ea5;
  margin: 10px 0;
  padding: 5px;
}

.menu-content .menu-logo {
  display: inline-block;
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
}

.menu-content .menu-title {
  display: inline-block;
  float: left;
  padding: 3px 10px;
}

h2 {
  font-size: 20px;
}

label.form-label {
  display: inline-block;
  font-size: 12px;
}

.ni-number-label,
.tax-credit-number-label {
  margin-bottom: 5px;
}

.ni-number-input,
.tax-credit-number-input {
  margin-bottom: 10px;
}

.input-text {
  display: block;
  background-color: #f7f7f7;
}


.ni-number-input {
  width: 75px;
}

.tax-credit-number-input {
  width: 130px;
}

.ni-number-block .ni-number-hint {
  display: block;
}

.ni-number-block .ni-number-hint a.hint-link {
  font-size: 10px;
}

.page-body-block {
  font-size: 12px;
}

.tax-credit-number-info {
  display: block;
  margin: 15px 0 43px 0;
}

.tax-credit-number-example-block {
  display: block;
  position: relative;
  width: 80px;
  height: 100px;
  border: 1px solid #000;
}

.pointer {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-width: 49px;
  border-bottom-width: 30px;
  border-right: 80px solid #2b8cc4;
  bottom: -23px;
  right: -65px;
}

.tax-credit-number-example {
  display: block;
  position: absolute;
  bottom: -30px;
  padding: 40px 5px;
  background-color: #fff;
  border: 1px solid;
  border-radius: 50%;
  font-size: 10px;
  right: -130px;
}

.button {
  display: inline-block;
  border: none;
  padding: 5px 10px;
}

.button-success {
  color: #fff;
  background-color: green;
}

.page-help-link {
  display: inline-block;
  margin: 30px 0;
  color: #96989a;
  font-size: 12px;
}

footer {
  display: block;
  background-color: #dee0e2;
  border-top: 3px solid #d6dadc;
  padding: 20px 20px 50px 20px;
}

.footer-content-block {
  display: block;
  position: relative;
  padding: 150px 0 0 0;
}

.footer-icon {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid #878484;
  border-radius: 5px;
  top: 0;
}

.footer-navigation {
  display: block;
  width: 100%;
}

.footer-navigation-item-link {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #505050;
  width: 100%;
}

.footer-licence-notice {
  display: block;
  margin: 10px 0 0 0;
  font-size: 12px;
  font-weight: bold;
  color: #505050;
}

.footer-licence-notice a {
  color: #505050;
  font-weight: 500;
}

.footer-licence-notice strong {
  font-size: 16px;
}

@media only screen and (min-width: 768px) {

  .ni-number-block .ni-number-hint {
    display: inline-block;
    padding-left: 20px;
  }

  .page-body-block {
    max-width: 50%;
  }

  .page-help-link {
    margin: 70px 0;
  }

  .footer-content-block {
    padding: 150px 150px 0 0;
  }

  .footer-icon {
    top: auto;
    bottom: 0;
    right: 0;
  }

  .footer-navigation {
    height: 20px;
  }

  .footer-navigation-item-link {
    float: left;
    margin: 0 10px 0 0;
    width: auto;
  }

}


